@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Anton&family=Poppins&family=Raleway&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
  background-color: white !important;
  /* background-color: #ededed; */
  font-family: "Poppins", sans-serif;
}

.font-r {
  font-family: "Raleway", sans-serif;
}

.font-a {
  font-family: "Alex Brush", cursive;
}

.font-ant {
  font-family: "Anton", sans-serif;
}
